<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">
    <head>
        <title>Lyrical Impact</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta name="description" content="a collection of lyrical verses that impacted someone and they want to remember and also share."/>
        <link rel="stylesheet" href="/css/w3.css"/>
        <link rel="stylesheet" href="/css/w3-theme-blue-grey.css"/>
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        </style>
        <link rel="stylesheet" href="/css/chosen.css"/>
    </head>
    <body class="w3-theme-l5">
        <div th:replace="fragments/header :: header"></div>
        
        <!-- Page Container -->
        <div class="w3-container w3-content" style="max-width:1260px;margin-top:80px">   
            <!-- The Grid -->
            <div class="w3-row">

                <!-- Form Column -->
                <div class="w3-col m11">

                    <div class="w3-row-padding">
                        <div class="w3-col m12">
                            <div class="w3-card w3-round w3-white">
                                <div class="w3-container w3-padding">

                                    <h3 th:text="#{form.header}"></h3>
                                    <h4 th:utext="#{form.intro.1}"></h4>
                                    <h4 th:utext="#{form.intro.1}"></h4>
                                    
                                    <form th:method="*{id > 0} ? put : post" th:object="${verse}">
                                        <span class="w3-right">
                                            <span th:errors="*{text}" class="w3-red" th:if="${#fields.hasErrors('text')}">text error</span>
                                        </span>
                                        <h5 th:text="#{form.verse}"></h5>
                                        <textarea th:field="*{text}" th:placeholder="'Just the punchy, important bits that impacted you the most, not the whole thing. This could be part of a poem or a song...'" style="width: 100%; height: 200px" tabindex="1"/>

                                        <span class="w3-right">
                                            <span th:errors="*{reaction}" class="w3-red" th:if="${#fields.hasErrors('reaction')}">reaction error</span>
                                        </span>
                                        <h5 th:text="#{form.reaction}"></h5>
                                        <textarea th:field="*{reaction}" th:placeholder="'You can come back later if you want to think about it more...'" style="width: 100%; height: 95px" tabindex="2"/>

                                        <span class="w3-right">
                                            <span th:errors="*{title}" class="w3-red" th:if="${#fields.hasErrors('title')}">title error</span>
                                        </span>
                                        <h5 th:text="#{form.title}"></h5>
                                        <button th:text="#{form.lookup.try}" type="button" class="w3-button w3-amber w3-right" style="margin-top: -38px;" id="lookup-verse"></button>
                                        <input type="text" th:field="*{title}" th:placeholder="'It\'s fine if you don\'t know...'" style="width: 100%" tabindex="3"/>

                                        <span class="w3-right">
                                            <span th:errors="*{author}" class="w3-red" th:if="${#fields.hasErrors('author')}">author error</span>
                                        </span>
                                        <h5 th:text="#{form.author}"></h5>
                                        <input type="text" th:field="*{author}" th:placeholder="'It\'s fine if you don\'t know...'" style="width: 100%" tabindex="4"/>
                                        
                                        <h5 th:text="#{form.tag}"></h5>
                                        <select th:field="*{tags}" data-placeholder="Tags..." class="chosen-select-width" multiple="true" tabindex="5">
                                            <option th:text="${tag.label}" th:each="tag: ${allTags}" th:value="${tag.label}"/>
                                        </select>
  
                                        <hr class="w3-clear"/>
                                        <input type="hidden" th:if="*{id > 0}" th:field="*{id}"/>
                                        <input type="hidden" th:if="${gvid > 0}" th:name="gvid" th:value="${gvid}"/>
                                        <button th:text="#{form.save}" type="submit" class="w3-button w3-theme" name="save" th:if="${gvid > 0}" th:formaction="@{/verses}" tabindex="6"></button>
                                        <button th:text="#{form.save}" type="submit" class="w3-button w3-theme" name="save" th:if="${verse.id == null && gvid == null}" tabindex="6"></button>
                                        <button th:text="#{form.update}" type="submit" class="w3-button w3-theme" name="update" th:if="*{id > 0}" tabindex="6"></button>
                                    </form>
                                    <form th:method="delete" th:if="${verse.id > 0}" th:action="@{'/verses/' + ${verse.id} + '/delete'}">
                                        <button th:text="#{form.delete}" type="delete" class="w3-button w3-red w3-right" style="margin-top: -38px;" name="delete" tabindex="7"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <script src="/webjars/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
        <script src="/webjars/chosen/1.8.7/chosen.jquery.min.js" type="text/javascript"></script>
        <script src="/webjars/chosen/1.8.7/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
        <script src="/webjars/chosen/1.8.7/docsupport/init.js" type="text/javascript" charset="utf-8"></script>
        <script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"/>

        <script>
            $( function() {
              var dialog, lookupTitle, lookupAuthor, searchingPlaceholder = "searching...";

              function useSuggestionFromPoem() {
                  lookupTitle = $("#poem-title").text();
                  lookupAuthor = $("#poem-author").text();
                  setVerseFormValues(lookupTitle, lookupAuthor);
                  resetLookupToSearching();
                  dialog.dialog( "close" );
              }

              function useSuggestionFromSong() {
                  lookupTitle = $("#song-title").text();
                  lookupAuthor = $("#song-author").text();
                  setVerseFormValues(lookupTitle, lookupAuthor);
                  resetLookupToSearching();
                  dialog.dialog( "close" );
              }

              function setVerseFormValues(title, author) {
                  $("#title").val(title);
                  $("#author").val(author);
              }
              
              function resetLookupToSearching() {
                  $("#song-title").text(searchingPlaceholder);
                  $("#song-author").text(searchingPlaceholder);
                  $("#poem-title").text(searchingPlaceholder);
                  $("#poem-author").text(searchingPlaceholder);
              }
              
              dialog = $( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 600,
                width: 600,
                modal: true,
                buttons: [
                    {
                        text: "Use the Song suggestion",
                        class: "w3-theme",
                        click: useSuggestionFromSong
                    },
                    {
                        text: "Use the Poem suggestion",
                        class: "w3-theme",
                        click: useSuggestionFromPoem
                    },
                    {
                        text: "Nope",
                        class: "w3-theme",
                        click: function() {
                            $( this ).dialog("close");
                        }
                    }
                ],
                open: function() {
                    var verseText = $("#text").val();
                    verseText = verseText.substring(0, 250);
                    var lookupParams = {
                        lyrics: verseText
                    };
                    $.ajax({
                            url: '/lookup/song',
                            data: lookupParams,
                            dataType: 'json',
                            success: function(json) {
                                $("#song-title").text(json.title);
                                $("#song-author").text(json.author);
                            }
                    });
                    $.ajax({
                            url: '/lookup/poem',
                            data: lookupParams,
                            dataType: 'json',
                            success: function(json) {
                                $("#poem-title").text(json.title);
                                $("#poem-author").text(json.author);
                            }
                    });
                },
                close: function() {
                    resetLookupToSearching();
                }
              });

              $( "#lookup-verse" ).button().on("click", function() {
                dialog.dialog("open");
              });
  
            } );
        </script>
        
        <div id="dialog-form" class="w3-container w3-display-container w3-round w3-border w3-theme-border w3-theme-d2 w3-margin-bottom w3-hide-small" title="Verse Lookup">
            <h3 th:text="#{form.lookup.header}" class="w3-bar"></h3>
            
            <fieldset class="w3-theme-l3">
                <h4 th:text="#{form.lookup.maybe.song}"></h4>
                <label th:text="#{title}" for="song-title"></label>
                <div th:text="#{form.lookup.searching}" id="song-title" class="text ui-widget-content ui-corner-all"></div>
                <label th:text="#{author}" for="song-author"></label>
                <div th:text="#{form.lookup.searching}" id="song-author" class="text ui-widget-content ui-corner-all"></div>
            </fieldset>
            <br/>
            <fieldset class="w3-theme-l3">
                <h4 th:text="#{form.lookup.maybe.poem}"></h4>
                <label th:text="#{title}" for="poem-title"></label>
                <div th:text="#{form.lookup.searching}" id="poem-title" class="text ui-widget-content ui-corner-all"></div>
                <label th:text="#{author}" for="poem-author"></label>
                <div th:text="#{form.lookup.searching}" id="poem-author" class="text ui-widget-content ui-corner-all"></div>
            </fieldset>
        </div>

    </body>
</html>