<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">
    <head>
        <title>Lyrical Impact</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta name="description" content="a collection of lyrical verses that impacted someone and they want to remember and also share."/>
        <link rel="stylesheet" href="/css/w3.css"/>
        <link rel="stylesheet" href="/css/w3-theme-blue-grey.css"/>
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        </style>
    </head>
    <body class="w3-theme-l5">
        <div th:replace="fragments/header-lite :: header-lite"></div>

        <!-- Page Container -->
        <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
            <!-- The Grid -->
            <div class="w3-row">
                <!-- Left Column -->
                <div class="w3-col m3">
                    <!-- Info --> 
                    <div class="w3-card w3-round w3-white w3-hide-small">
                        <div class="w3-container">
                            <h3>What is "Lyrical Impact"?</h3>
                            <h3>What is our privacy policy?</h3>
                        </div>
                    </div>
                </div>
                <!-- Verses Column -->
                <div class="w3-col m9">
                    <div class="w3-row-padding">
                        <div class="w3-col m12">
                            <div class="w3-card w3-round w3-white">
                                <div class="w3-container w3-padding">
                                    <h3 class="w3-opacity">About this site</h3>
                                    <div class="w3-theme-l4">
                                        <h5>
                                            <p>The idea is...</p>
                                            <p>and that...</p>
                                            <p>the end...</p>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>