<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en" xml:lang="en">
    <head>
        <title>Template :: Header Error</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="../../static/css/w3.css"/>
        <link rel="stylesheet" href="../../static/css/w3-theme-blue-grey.css"/>
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        </style>
    </head>
    <body class="w3-theme-l5">
        <div th:fragment="header-error" class="w3-top">
            <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                <a href="/my" class="w3-bar-item w3-button w3-padding-large w3-theme-d4">Lyrical Impact</a>
                <a href="/global" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Global Impact</a>
                <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
             </div>
        </div>
    </body>
</html>
