<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en" xml:lang="en">
    <head>
        <title>Template :: Header</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="../../static/css/w3.css"/>
        <link rel="stylesheet" href="../../static/css/w3-theme-blue-grey.css"/>
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        </style>
    </head>
    <body class="w3-theme-l5">
        <div th:fragment="header" class="w3-top">
            <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                <a th:text="#{limpact}" href="/my" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"></a>
                <a th:text="#{gimpact}" href="/global" class="w3-bar-item w3-button w3-padding-large w3-hover-white"></a>
                <a th:text="#{about}" href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"></a>
                <div class="w3-right">
                    <div class="w3-left w3-hide-medium w3-hide-small">
                        <form class="w3-bar-item">
                            <input type="hidden" th:if="${!#strings.isEmpty(tag)}" name="tag" th:value="${tag}"/>
                            <input type="search" size="25" id="site-search" name="q" th:placeholder="'search verse text...'"/>
                            <button th:text="#{search}" type="submit" class="w3-button-header w3-theme" tabindex="-1"></button>
                        </form>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="w3-dropdown-hover w3-right">
                        <button th:title="#{my.profile}" class="w3-button w3-padding-large">
                            <span th:text="'' + ${impacted.displayName}"/>
                            <img th:alt="#{avatar}" th:if="${!#strings.isEmpty(impacted.picture)}" th:src="${impacted.picture}" class="w3-circle" style="height:23px;width:23px"/>
                            <img th:alt="#{avatar}" th:if="${#strings.isEmpty(impacted.picture)}" src="/img/avatar2.png" class="w3-circle" style="height:23px;width:23px"/>
                        </button>
                        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                            <a th:text="#{profile}" href="/admin" sec:authorize="hasRole('ADMIN')" class="w3-bar-item w3-button"></a>
                            <a th:text="#{profile}" href="/user" sec:authorize="!hasRole('ADMIN')" class="w3-bar-item w3-button"></a>
                            <a th:text="#{logout}" href="/logout" class="w3-bar-item w3-button" ></a>
                        </div>
                    </div>
                    <div sec:authorize="!isAuthenticated()" class="w3-dropdown-hover w3-right">
                        <a th:text="#{login}" href="/login" class="w3-bar-item w3-button w3-padding-large w3-hover-white"></a>
                        <a th:text="#{signup}" href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hover-white"></a>
                    </div>
                </div>
             </div>
        </div>
    </body>
</html>
