<html>
    <head>
        <title>Template :: Header Lite</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="../../static/css/w3.css"/>
        <link rel="stylesheet" href="../../static/css/w3-theme-blue-grey.css"/>
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        </style>
    </head>
    <body class="w3-theme-l5">
        <div th:fragment="header" class="w3-top">
            <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                <a href="/impacted" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Lyrical Impact</a>
                <a href="/impacted/global" class="w3-bar-item w3-button w3-padding-large w3-hover-white"><i class="fa fa-home w3-margin-right"></i>Global Lyrical Impact</a>
                <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="About"><i class="fa fa-globe">About</i></a>

                <span class="w3-right">
                    <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" th:text="'' + ${impacted.firstName} + ' ' + ${impacted.lastName}"/>
                    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="My Profile">
                        <img src="/img/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"/>
                    </a>
                </span>
            </div>
        </div>
    </body>
</html>
