<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Template :: Header</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="../../static/css/w3.css"/>
        <link rel="stylesheet" href="../../static/css/w3-theme-blue-grey.css"/>
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        </style>
    </head>
    <body class="w3-theme-l5">
        <div th:fragment="header" class="w3-top">
            <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                <a href="/my" class="w3-bar-item w3-button w3-padding-large w3-theme-d4">Lyrical Impact</a>
                <a href="/global" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Global Impact</a>
                <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
                <div class="w3-right">
                    <div class="w3-left w3-hide-medium w3-hide-small">
                        <form class="w3-bar-item">
                            <input type="search" size="25" id="site-search" name="q" th:placeholder="'search verse text...'"/>
                            <button type="submit" class="w3-button-header w3-theme" th:text="'Search'" tabindex="-1">Search</button>
                        </form>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="w3-dropdown-hover w3-right">
                        <button class="w3-button w3-padding-large" title="My Profile">
                            <span th:text="'' + ${impacted.displayName}"/>
                            <img th:if="${(impacted.picture != '')}" th:src="${impacted.picture}" class="w3-circle" style="height:23px;width:23px" alt="Avatar"/>
                            <img th:if="${(impacted.picture == '')}" src="/img/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"/>
                        </button>
                        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                            <a href="/admin" sec:authorize="hasRole('ADMIN')" class="w3-bar-item w3-button" th:text="'Profile'">admin profile</a>
                            <a href="/user" sec:authorize="!hasRole('ADMIN')" class="w3-bar-item w3-button" th:text="'Profile'">user profile</a>
                            <a href="/logout" class="w3-bar-item w3-button" th:text="'Logout'">logout</a>
                        </div>
                    </div>
                    <div sec:authorize="!isAuthenticated()" class="w3-dropdown-hover w3-right">
                        <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Log in</a>
                        <a href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Sign up</a>
                    </div>
                </div>
             </div>
        </div>
    </body>
</html>
