<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lyrical Impact</title>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" href="/impacted.css"/>
</head>
<body>
<div class="topnav">
    <a href="/impacted/1">My Impacted</a>
    <a href="#">About</a>
    <a href="#">Logout</a>
</div>
<div class="content">
    <p th:text="'How were you impacted today ' + ${impacted.firstName} + ' ' + ${impacted.lastName} + '?'"/>
    <a href="/verse">[+] Add impacted verse</a>
    <hr/>

    <div class="tagsList">
        <a class="impactedTag" href="/">[Show All]</a>
        <a class="impactedTag" th:each="tag : ${tags}" th:text="${tag.label}" th:href="|/?tag=${tag.label}|"/>
    </div>
    <hr/>

    <table width="100%" border='1'>
        <tr style="background-color: antiquewhite;">
            <th width="50%">Verse</th>
            <th>Song</th>
            <th>Artist</th>
            <th>My Reaction</th>
            <th>Tagged As</th>
        </tr>
        <tr th:each="verse : ${verses}" style="height: 55px;">
            <td th:text="${verse.lyricsAsHtml}">1</td>
            <td th:text="${verse.song}">Song</td>
            <td><a href="#" th:text="${verse.artist}">Artist</a></td>
            <td th:text="${verse.reaction}">Reaction</td>
            <td>
                <a class="impactedTag" href="/">[Tag With]</a>
                <span class="impactedTag" th:each="tag : ${verse.tags}" th:text="${tag.label}"></span>
            </td>
        </tr>
    </table>
</div>
<div class="footer">
    <p>Someone was impacted by this verse. If you are too, <a th:href="@{'/verse?randomVerseId=' + ${randomVerse.id}}">[+] Add impacted verse</a></p>
    <p th:text="${randomVerse.lyrics}"/>
</div>
</body>
</html>
