<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lyrical Impact</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <!-- https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_social&stacked=h -->
        <link rel="stylesheet" href="/w3.css"/>
        <link rel="stylesheet" href="/w3-theme-blue-grey.css"/>
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        </style>
    </head>
    <body class="w3-theme-l5">
        <div class="w3-top">
            <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                <a href="/impacted/1" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>My Impacted</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="About"><i class="fa fa-globe">About</i></a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Logout"><i class="fa fa-user">Logout</i></a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
                    <img src="/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"/>
                </a>
            </div>
        </div>

        <!-- Page Container -->
        <div class="w3-container w3-content" style="max-width:1260px;margin-top:80px">   
            <!-- The Grid -->
            <div class="w3-row">

                <!-- Form Column -->
                <div class="w3-col m11">

                    <div class="w3-row-padding">
                        <div class="w3-col m12">
                            <div class="w3-card w3-round w3-white">
                                <div class="w3-container w3-padding">

                                    <h3 class="w3-opacity">Add a verse that impacted you!</h3>
                                    <form action="#" method="POST" th:action="@{/verse}" th:object="${verse}">
                                        <span class="w3-right">
                                            <span class="w3-tag w3-small w3-theme" style="background-color: red;" th:if="${#fields.hasErrors('lyrics')}" th:errors="*{lyrics}">lyrics error</span>
                                        </span>
                                        <h5>* Verse:</h5> <textarea th:field="*{lyrics}" th:placeholder="'Just the punchy, important bits that impacted you the most, not the whole song...'" style="width: 100%; height: 200px"/>

                                        <span class="w3-right">
                                            <span class="w3-tag w3-small w3-theme" style="background-color: red;" th:if="${#fields.hasErrors('reaction')}" th:errors="*{reaction}">reaction error</span>
                                        </span>
                                        <h5>Your reaction:</h5> <textarea th:field="*{reaction}" th:placeholder="'You can come back later if you want to think about it more...'" style="width: 100%; height: 95px"/>

                                        <span class="w3-right">
                                            <span class="w3-tag w3-small w3-theme" style="background-color: red;" th:if="${#fields.hasErrors('song')}" th:errors="*{song}">song error</span>
                                        </span>
                                        <h5>Title this verse is part of:</h5> <input type="text" th:field="*{song}" th:placeholder="'It\'s fine if you don\'t know...'" style="width: 100%"/>

                                        <span class="w3-right">
                                            <span class="w3-tag w3-small w3-theme" style="background-color: red;" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}">artist error</span>
                                        </span>
                                        <h5>Artist who wrote this verse:</h5> <input type="text" th:field="*{artist}" th:placeholder="'It\'s fine if you don\'t know...'" style="width: 100%"/>
                                        
                                        <hr class="w3-clear"/>
                                        <input type="hidden" th:if="${id > 0}" th:field="*{id}"/>
                                        <button type="button" class="w3-button w3-theme">
                                            <input type="submit" value="[+] Add impacted verse" />
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

    </body>
</html>